{{- if eq .osid "linux-debian" -}}
#!/usr/bin/env bash
set -euo pipefail

echo "[Script] run_onchange_after_0002-font.sh.tmpl"

command_exists() {
	command -v "$@" >/dev/null 2>&1
}

is_linux() {
	[[ "$(uname -s)" == "Linux" ]]
}

is-debian() {
	[[ -f /etc/os-release ]] && grep -qi '^ID=debian' /etc/os-release
}

{{- $sudo := "" }}
{{- if ne .chezmoi.username "root" }}
{{- $sudo = "sudo " }}
{{- end }}

LOCAL_BIN=${LOCAL_BIN:-$HOME/.local/bin}
mkdir -p $LOCAL_BIN
export PATH="$LOCAL_BIN:$PATH"
GH_PXY=${GH_PXY:-}
GH_TKN={{ gopassRaw "github/token/main" }}

: << 'EOF_COMMENT'
2025-09-20 22:14:31
EOF_COMMENT

################################################
fc-cache -f
{{- end -}}
